### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd



# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_Players = purchase_data["SN"].nunique()
print(Total_Players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
pricelist = purchase_data["Price"]

In [4]:


average_purchase_price = round(sum(pricelist)/len(pricelist),2)

In [5]:
num_of_purchases = len(pricelist)

In [6]:
df_purchase = pd.DataFrame({"Number of Unique Items":[purchase_data["Item Name"].nunique()], "Average Price":[average_purchase_price], "Number of Purchases":[len(pricelist)], "Total Revenue": [sum(pricelist)]})

df_purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
purchase_data["Gender"].count

<bound method Series.count of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object>

In [8]:
df = purchase_data.drop_duplicates(subset='SN')

Final_data = df["Gender"].value_counts()

x1 = (Final_data)/len(df)

In [9]:
df_demo = pd.DataFrame({"Total Count": Final_data, "Percentage of Players": x1,})

df_demo

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
Purchase_counts = purchase_data["Gender"].value_counts()
Purchase_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
Average_Purchase_Price = purchase_data.groupby(['Gender']).sum(['Price'])

In [12]:
purchase_male = Average_Purchase_Price.iloc[1,3]

format_male = "${:,.2f}".format(purchase_male)

purchase_female = Average_Purchase_Price.iloc[0,3]

format_female = "${:,.2f}".format(purchase_female)

purchase_other = Average_Purchase_Price.iloc[2,3]

format_other = "${:,.2f}".format(purchase_other)

In [13]:
a = "${:,.2f}".format(Average_Purchase_Price.iloc[0,3]/(Purchase_counts.iloc[1]))
a

'$3.20'

In [14]:
(Purchase_counts.iloc[1])

113

In [15]:
b ="${:,.2f}".format((Average_Purchase_Price.iloc[1,3]/Purchase_counts[0]))
b

'$3.02'

In [16]:
c ="${:,.2f}".format((Average_Purchase_Price.iloc[2,3]/Purchase_counts[2]))
c

'$3.35'

In [17]:
APM= "${:,.2f}".format(purchase_male/df_demo.iloc[0,0])
APF= "${:,.2f}".format(purchase_female/df_demo.iloc[1,0]) 
APO= "${:,.2f}".format(purchase_other/df_demo.iloc[2,0])

In [18]:
PurchaseFinal = pd.DataFrame({"Purchase Count": Purchase_counts, "Average Purchase Price": [b, a, c], "Total Purchase Value": [format_male, format_female, format_other],"Avg Total Purchase per Person": [APM, APF, APO]})
PurchaseFinal

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 130]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

In [20]:
dfb = df.copy(deep=True)


dfb["Category"] = pd.cut(dfb["Age"], bins, labels=group_names, include_lowest=True)
dfb

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [21]:
percent = dfb["Category"].value_counts()

In [22]:
percentofplayers = round((100*percent/len(dfb)),2)
formattedpercent = percentofplayers.astype(str)+'%'

In [23]:
AgeDemo = pd.DataFrame({"Total Count": percent, "Percentage of Players": formattedpercent})
AgeDemo

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
bins2 = [0, 9, 14, 19, 24, 29, 34, 39, 130]

group_names2 = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

In [25]:
Newdf = purchase_data.copy(deep=True)


Newdf["Category"] = pd.cut(Newdf["Age"], bins, labels=group_names, include_lowest=True)
Newdf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [26]:
PurchaseC = Newdf["Category"].value_counts()
PurchaseC

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Category, dtype: int64

In [27]:
AvgAge = Newdf.groupby(['Category'])
AvgPrice= AvgAge.sum(['Price'])
AvgPrice

          Purchase ID   Age  Item ID    Price
Category
<10             10009   181     2428    77.13
10-14           10114   319     2719    82.78
15-19           54859  2284    12798   412.89
20-24          139573  7971    32335  1114.06
25-29           41072  2626     9128   293.00
30-34           26254  2291     6866   214.00
35-39           16596  1505     4137   147.67
40+              5333   540     1158    38.24

In [28]:
AvgPriceTotal = AvgPrice.loc[:,"Price"]
#AvgPriceOnlyFormat ="${:,.2f}".format(AvgPriceOnly)
AvgPriceTotal

Category
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [29]:
APP= AvgPriceTotal/PurchaseC
APP

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [30]:
ATP = AvgPriceTotal/percent
ATP

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [31]:
AgeRangePurchase = pd.DataFrame({"Purchase Count": PurchaseC, "Average Purchase Price": APP, "Total Purchase Value": AvgPriceTotal ,"Avg Total Purchase per Person": ATP})
AgeRangePurchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
Purchase_counts_sn = purchase_data.groupby(['SN'])
Total_Value= Purchase_counts_sn.sum(['Price'])
Total_Value

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [33]:
ValuePrice = Total_Value['Price']
SortSum = ValuePrice.sum(level=0)
SortSum

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [34]:
Sort_sn = Purchase_counts_sn['SN'].count()
Sort_sn

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: SN, Length: 576, dtype: int64

In [35]:
AverageSS = SortSum/Sort_sn
AverageSS

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Length: 576, dtype: float64

In [36]:
len(Sort_sn)

576

In [37]:
Single_Price = Purchase_counts_sn['Price']

len(Single_Price)

576

In [38]:
TopSpenders = pd.DataFrame({"Purchase Count": Sort_sn, "Average Purchase Price": AverageSS, "Total Purchase Value": ValuePrice})
TopSpenders.head(25)

                 Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                  1                2.280000                  2.28
Adastirin33                   1                4.480000                  4.48
Aeda94                        1                4.910000                  4.91
Aela59                        1                4.320000                  4.32
Aelaria33                     1                1.790000                  1.79
Aelastirin39                  2                3.645000                  7.29
Aelidru27                     1                1.090000                  1.09
Aelin32                       3                2.993333                  8.98
Aelly27                       2                3.395000                  6.79
Aellynun67                    1                3.740000                  3.74
Aellyria80                    1                3.080000                  3.08
Aelollo59                     2                2.815000                  5.63
Aenarap34                     1                2.960000                  2.96
Aeral43                       1                4.400000                  4.40
Aeral68                       1                4.000000                  4.00
Aeral97                       1                4.800000                  4.80
Aeralria27                    1                4.090000                  4.09
Aeralstical35                 1                2.960000                  2.96
Aeri84                        1                1.610000                  1.61
Aerillorin70                  1                3.330000                  3.33
Aerithllora36                 2                4.320000                  8.64
Aerithnucal56                 1                4.400000                  4.40
Aerithnuphos61                1                4.910000                  4.91
Aerithriaphos45               1                1.560000                  1.56
Aerithriaphos46               1                2.180000                  2.18

In [39]:
TopSpenderSort = TopSpenders.sort_values("Total Purchase Value", ascending=False )
TopSpenderSort.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [109]:
populardf = purchase_data.loc[:,['Item ID','Item Name','Price']]
populardf

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [72]:
populardfItem = populardf.groupby(["Item ID","Item Name", "Price"])

populardfItem.head(25)

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [43]:
#test = populardfItem.iloc[1,1]
#test

In [107]:
popitemsum = populardfItem['Price'].sum()
popitemsum
#a = pd.DataFrame(populardfItem['Price'].sum(), columns = ['whatever_name_you_want'])
#a

Item ID  Item Name                                     Price
0        Splinter                                      1.28      5.12
1        Crucifer                                      1.99      1.99
                                                       3.26      9.78
2        Verdict                                       2.48     14.88
3        Phantomlight                                  2.49     14.94
                                                                ...
178      Oathbreaker, Last Hope of the Breaking Storm  4.23     50.76
179      Wolf, Promise of the Moonwalker               4.48     26.88
181      Reaper's Toll                                 1.66      8.30
182      Toothpick                                     4.03     12.09
183      Dragon's Greatsword                           1.09      3.27
Name: Price, Length: 183, dtype: float64

In [ ]:
PriceItems= popitemsum.loc[:, 'Price']

In [74]:
countitem= populardfItem['Item ID'].count()
countitem

Item ID  Item Name                                     Price
0        Splinter                                      1.28      4
1        Crucifer                                      1.99      1
                                                       3.26      3
2        Verdict                                       2.48      6
3        Phantomlight                                  2.49      6
                                                                ..
178      Oathbreaker, Last Hope of the Breaking Storm  4.23     12
179      Wolf, Promise of the Moonwalker               4.48      6
181      Reaper's Toll                                 1.66      5
182      Toothpick                                     4.03      3
183      Dragon's Greatsword                           1.09      3
Name: Item ID, Length: 183, dtype: int64

In [46]:
#test = countitem.loc[:,'Item Name']
#test

In [47]:
#CountItemValues = pd.Series(countitem).values

In [110]:
merge_df_item = pd.merge(countitem, popitemsum, on="Item Name")
merge_df_item

                                              Item ID  Price
Item Name
Splinter                                            4   5.12
Crucifer                                            1   1.99
Crucifer                                            1   9.78
Crucifer                                            3   1.99
Crucifer                                            3   9.78
...                                               ...    ...
Oathbreaker, Last Hope of the Breaking Storm       12  50.76
Wolf, Promise of the Moonwalker                     6  26.88
Reaper's Toll                                       5   8.30
Toothpick                                           3  12.09
Dragon's Greatsword                                 3   3.27

[191 rows x 2 columns]

In [49]:
#listnames= populardfItem['Item Name']
#listnames.head()

In [50]:
# merge_df_item_wn = pd.merge(merge_df_item, listnames, on="Item ID", how="outer")
# merge_df_item_wn

In [51]:
#countdata= countitem.iloc[:,1]
#countdata

In [52]:
#count_pop["test"] = populardf['Price'].sum()
#count_pop["test2"]= populardf['Price'].mean()
#count_pop

In [53]:
#ItemOnly= count_pop.Series.drop( axis=1, index=None, columns=['Item Name','Price'], inplace=False)
#ItemOnly

In [54]:
#new_item =count_pop["Item ID"]

#print(new_item)

In [55]:
#new_item_name = populardf['Item Name']
#new_item_name

In [56]:
#ItemPrice= new_index_df.iloc[:,2]
#ItemPrice

In [57]:
#sort_pop_count = count_pop.sort_values(ascending= False)
#sort_pop_count

In [58]:

# SortPopItem = populardf["Item Name"].value_counts()
# SortSumPop = SortPopItem.sum
# SortSumPop

In [59]:
# Most_Popular_Items = pd.DataFrame({"Item Name": new_item_name,"Purchase Count": SortSumPop, "Item Price": new_index_dfpop, "Total Purchase Value": new_index_df})
# TopSpenders.head(25)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [60]:
MPI = purchase_data

x1 = MPI.loc[:,['Item Name', 'Item ID', 'Price']]

x1.head(30)

                                       Item Name  Item ID  Price
0      Extraction, Quickblade Of Trembling Hands      108   3.53
1                              Frenzied Scimitar      143   1.56
2                                   Final Critic       92   4.88
3                                    Blindscythe      100   3.27
4                                           Fury      131   1.44
5                                      Dreamkiss       81   3.61
6         Interrogator, Blood Blade of the Queen      169   2.18
7                                  Abyssal Shard      162   2.67
8                                      Souleater       21   1.10
9                   Ghastly Adamantite Protector      136   3.58
10                         Singed Onyx Warscythe       95   4.74
11                                 Abyssal Shard      162   2.67
12                       Renewed Skeletal Katana      116   4.18
13                            Bloodlord's Fetish        4   1.70
14                   Bone Crushing Silver Skewer      165   4.86
15                   Deadline, Voice Of Subtlety       98   2.89
16                                 Second Chance       40   2.52
17                                        Devine      161   1.76
18                                       Nirvana       82   4.90
19             Blazefury, Protector of Delusions       89   4.64
20               Despair, Favor of Due Diligence       57   4.60
21           Sun Strike, Jaws of Twisted Visions      168   1.48
22                                 Warped Fetish       24   3.81
23                                     Severance      151   3.40
24                                    Persuasion      132   3.19
25  Oathbreaker, Last Hope of the Breaking Storm      178   4.23
26                                        Demise       71   1.61
27                   Blood-Forged Skeletal Spine       96   3.09
28     Stormbringer, Dark Blade of Ending Misery      119   4.32
29           Shadow Strike, Glory of Ending Hope       37   3.16

In [61]:
MPIS=x1['Price'].sum()
MPIS.head(30)

AttributeError: 'numpy.float64' object has no attribute 'head'

In [ ]:
ItemPrice = MPIS.iloc[:, 2]
ItemPrice

In [ ]:
hello = MPI["Item ID"].value_counts()

hello.head()

In [ ]:
Most_Profitable_Items = pd.DataFrame({"Purchase Count": hello ,"Item Price": ItemPrice, "Total Purchase Value": MPIS })
TopSpenders.head(25)