### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_Players = purchase_data["SN"].nunique()
print(Total_Players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
pricelist = purchase_data["Price"]

In [4]:


average_purchase_price = round(sum(pricelist)/len(pricelist),2)

In [5]:
num_of_purchases = len(pricelist)

In [6]:
df_purchase = pd.DataFrame({"Number of Unique Items":[purchase_data["Item Name"].nunique()], "Average Price":[average_purchase_price], "Number of Purchases":[len(pricelist)], "Total Revenue": [sum(pricelist)]})

df_purchase

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
purchase_data["Gender"].count

<bound method Series.count of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object>

In [8]:
df = purchase_data.drop_duplicates(subset='SN')

Final_data = df["Gender"].value_counts()

x1 = (Final_data)/len(df)

113

15

In [9]:
df_demo = pd.DataFrame({"Total Count": Final_data, "Percentage of Players": x1,})

df_demo

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
Purchase_counts = purchase_data["Gender"].value_counts()
Purchase_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
Average_Purchase_Price = purchase_data.groupby(['Gender']).sum(['Price'])

In [12]:
purchase_male = Average_Purchase_Price.iloc[1,3]

format_male = "${:,.2f}".format(purchase_male)

purchase_female = Average_Purchase_Price.iloc[0,3]

format_female = "${:,.2f}".format(purchase_female)

purchase_other = Average_Purchase_Price.iloc[2,3]

format_other = "${:,.2f}".format(purchase_other)

In [13]:
a = "${:,.2f}".format(Average_Purchase_Price.iloc[0,3]/(Purchase_counts.iloc[1]))
a

'$3.20'

In [14]:
(Purchase_counts.iloc[1])

113

In [15]:
b ="${:,.2f}".format((Average_Purchase_Price.iloc[1,3]/Purchase_counts[0]))
b

'$3.02'

In [16]:
c ="${:,.2f}".format((Average_Purchase_Price.iloc[2,3]/Purchase_counts[2]))
c

'$3.35'

In [17]:
APM= "${:,.2f}".format(purchase_male/df_demo.iloc[0,0])
APF= "${:,.2f}".format(purchase_female/df_demo.iloc[1,0]) 
APO= "${:,.2f}".format(purchase_other/df_demo.iloc[2,0])

In [18]:
PurchaseFinal = pd.DataFrame({"Purchase Count": Purchase_counts, "Average Purchase Price": [b, a, c], "Total Purchase Value": [format_male, format_female, format_other],"Avg Total Purchase per Person": [APM, APF, APO]})
PurchaseFinal

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 130]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

In [20]:
dfb = df.copy(deep=True)


dfb["Category"] = pd.cut(dfb["Age"], bins, labels=group_names, include_lowest=True)
dfb

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [21]:
percent = dfb["Category"].value_counts()

In [22]:
percentofplayers = round((100*percent/len(dfb)),2)
formattedpercent = percentofplayers.astype(str)+'%'

In [23]:
AgeDemo = pd.DataFrame({"Total Count": percent, "Percentage of Players": formattedpercent})
AgeDemo

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
bins2 = [0, 9, 14, 19, 24, 29, 34, 39, 130]

group_names2 = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

In [26]:
Newdf = purchase_data.copy(deep=True)


Newdf["Category"] = pd.cut(Newdf["Age"], bins, labels=group_names, include_lowest=True)
Newdf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [28]:
PurchaseC = Newdf["Category"].value_counts()
PurchaseC

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Category, dtype: int64

In [46]:
AvgAge = Newdf.groupby(['Category'])
AvgPrice= AvgAge.sum(['Price'])
AvgPrice

          Purchase ID   Age  Item ID    Price
Category
<10             10009   181     2428    77.13
10-14           10114   319     2719    82.78
15-19           54859  2284    12798   412.89
20-24          139573  7971    32335  1114.06
25-29           41072  2626     9128   293.00
30-34           26254  2291     6866   214.00
35-39           16596  1505     4137   147.67
40+              5333   540     1158    38.24

In [48]:
AvgPriceTotal = AvgPrice.loc[:,"Price"]
#AvgPriceOnlyFormat ="${:,.2f}".format(AvgPriceOnly)
AvgPriceTotal

Category
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [49]:
APP= AvgPriceTotal/PurchaseC
APP

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [52]:
ATP = AvgPriceTotal/percent
ATP

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [53]:
AgeRangePurchase = pd.DataFrame({"Purchase Count": PurchaseC, "Average Purchase Price": APP, "Total Purchase Value": AvgPriceTotal ,"Avg Total Purchase per Person": ATP})
AgeRangePurchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80